* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  border: 1px solid red;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
  margin-top: 10px;
  .top-logo img {
    height: 50px;
  }
  .nav-menu {
    list-style-type: none;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hero-page {
  position: relative;
  .hero-page-div-img {
    height: 80vh;
    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
  .hero-page-text {
    position: absolute;
    .hero-page-bottom-img {
      height: 50vh;
      width: 50vw;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }
}
.login-page {
}
.explore-page {
}
.checkOut-page {
}
.download-page {
}
.footer {
}
