* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* border: 1px solid red; */
}
.b-border {
  width: 60vw;
  margin: 30px auto;
  border-bottom: 3px solid gray;
}
.side-margin {
  margin: 20px 10vw;
  height: 80vh;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.d-flex-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 5vw;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
  margin-top: 10px;
  .top-logo img {
    height: 50px;
  }
  .nav-menu {
    list-style-type: none;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.hero-page {
  background-image: url("./images/hero-page-img.jpg");
  /* height: 80vh; */
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 30vh;
}
.btns button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  color: white;
  font-weight: 900;
}
.login-page {
}
.explore-page {
}
.checkOut-page {
}
.download-page {
  background-image: url("./images/download-page-img.jpg");
  height: 50vh;
  flex-direction: column;
  color: white;
}

.b-btnss button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}
.footer {
  height: 15vh;
  margin: 20px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
